.App {
    /* font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; */
    font-family: 'Lora', serif;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
}