.Container {
    margin: 0 auto;
    padding-top: 15vh;
    width: 100%;
    max-width: 900px;
    min-width: 375px;
}

.container section {
    /* min-height: 98vh; */
    border-bottom: 0.5px darkgrey solid;
    margin-bottom: 100vh;
}