header{
    background: snow;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

header a {
    text-decoration: none;
}

header h1{
    font-weight: 800;
    text-align: left;
    text-decoration: none;
}