* {
  font-family: 'Noto Sans', sans-serif;
}

body {
    /* background: linear-gradient(to bottom right, #7CCBFF, #81fcad) no-repeat; */
    background: linear-gradient(to bottom right, #7086f1, #81fcad) no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  