.UserForm input, 
.UserForm button {
    padding: 1px;
    margin: 0.1rem;
    height: 22px;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
    border: 0.5px black solid;
    background: rgba(255,255,255,0.2);
}